@import url('https://fonts.googleapis.com/css2?family=Andika&family=Calistoga&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Andika", sans-serif;
    font-weight: 400;
}

body {
    width: 100vw;
    height: 100vh;

    background-image: linear-gradient(45deg, #0130B2, #010193, #010075, #040637, #020202);
}

main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    gap: 5%;
}

/* RIGHT AREA */

.inputSection {
    /* background-color: darkcyan; */
    width: 55%;

    display: flex;
    flex-direction: row;
}

.inputSection-header {
    /* background-color: darkgoldenrod; */
    width: 15%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    background: rgba(255, 255, 255, 0.09);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}


/* .inputSection-header img {
    width: 100%;
} */

.inputSection-header h1 {
    font-size: 3rem;
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;

    text-transform: uppercase;
    writing-mode: vertical-lr;
    text-orientation: upright;

    margin-top: 30%;

    background-image:  linear-gradient( 90deg, #F20505, #F2E205 );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;


}

.inputSection-headerLinks {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 10%;
    margin-bottom: 30%;
}

.inputSection-headerLinks img {
    width: 100%;
}

.inputSection-content {
    /* background-color: antiquewhite; */
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    gap: 5%;
    padding: 5% 0 5% 5%;
}

.text-input {
    width: 75%;
    height: 50%;

    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
    color: #ECECEE;

    border: none;
    background-color: transparent;
    outline: none;
    resize: none;

}

.text-input::placeholder {
    color: #ECECEE;
}

.inputSection-contentActionBar {

    width: 75%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.inputSection-contentActionBar-info {
    width: 100%;


    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 8px;
    margin-bottom: 8px;


}

.inputSection-contentActionBar-info img {
    max-width: 16px;
    max-height: 16px;
    width: 100%;
    height: 100%;


}

.inputSection-contentActionBar-info p {
    width: 100%;

    font-size: 0.75rem;
    line-height: 1.13rem;
    text-align: left;

    color: #ECECEE;

}

.inputSection-contentActionBar-buttons {
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 16px;
}

.btn-criptografar,
.btn-descriptografar, .btn-copiar {
    width: 50%;
    height: 68px;

    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    
    color: #ECECEE;

    padding: 24px;
    gap: 8px;
    border-radius: 24px;

    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;

    border: 1px solid #ECECEE;

    transition: transform 200ms linear;
}

.btn-criptografar:hover {
    transform: scale(1.05);
    border: 2px solid #F20505;
    cursor: pointer;
}

.btn-descriptografar:hover {
    transform: scale(1.05);
    border: 2px solid #F2E205;
    cursor: pointer;
}

.inputSection-contentImg {
   width: 70%;
   transition: transform 200ms linear;
}

.inputSection-contentImg:hover {
    transform: scale(1.05);
    cursor: pointer;
}


/* OUTPUT AREA */


.outputSection {
    /* background-color: darkolivegreen; */

    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.outputSection-content {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid #ECECEE;

    width: 400px;
    height: 95%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 5%;
    margin-bottom: 5%;
    gap: 10%;

    border-radius: 32px;
}


.outputSection-content:hover {
    border-top-color: #F20505;
    border-right-color: #F2E205;
    border-bottom-color: #F20505;
    border-left-color: #F2E205;

}

.outputSection-content img {
    display: none;
    width: 100%;
    padding: 0 32px 0 32px;
    
}

.outputSection-contentInfo {
    width: 100%;

    display: none;
    flex-direction: column;
    text-align: center;
    gap: 8px;

}

.outputSection-contentInfo h2 {
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;

    color: #ECECEE;
}

.outputSection-contentInfo p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: #ECECEE;

}

.outputSection-contentResultOutput {
    
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 5%;
}

.text-output {
    width: 95%;
    height: 85%;

    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
    color: #ECECEE;

    border: none;
    background-color: transparent;
    outline: none;
    resize: none;

}

.btn-copiar {
    


}
.btn-copiar:hover {
    transform: scale(1.05);
    border: 2px solid #F20505;
    cursor: pointer;
}