@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
}

:root {
    --black-color: #0D0C07;
    --gray-color: #27222D;
    --white-color: #F2F2F0;
    --red-color: #F20505;
    --yellow-color: #F2E205;

    --font-weight-normal: 400;
    --font-weight-bold: 600;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #87CEEB, #70BCEB, #5CA8EB, #3C8DED, #1A66E1, #0047AB);
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

/* RIGHT AREA */
.inputSection {
    width: 55%;
    display: flex;
    flex-direction: row;
}

.inputSection-header {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 3px solid var(--black-color);
    background: rgba(255, 255, 255, 0.13);
}

.inputSection-header h1 {
    font-size: 3rem;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin-top: 30%;
    color: var(--black-color);
}

.inputSection-headerLinks {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-bottom: 30%;
}

.inputSection-headerLinks img {
    width: 100%;
}

.inputSection-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    padding: 5% 0 5% 5%;
}

.text-input {
    width: 75%;
    height: 50%;
    font-size: 2rem;
    font-weight: var(--font-weight-normal);
    line-height: 3rem;
    text-align: left;
    color: var(--white-color);
    border: none;
    background-color: transparent;
    outline: none;
    resize: none;
}

.text-input::placeholder {
    color: var(--white-color);
}

.inputSection-contentActionBar {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputSection-contentActionBar-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.inputSection-contentActionBar-info img {
    max-width: 16px;
    max-height: 16px;
    width: 100%;
    height: 100%;
}

.inputSection-contentActionBar-info p {
    width: 100%;
    font-size: 0.75rem;
    font-weight: var(--font-weight-normal);
    line-height: 1.13rem;
    text-align: left;
    color: var(--black-color);
}

.inputSection-contentActionBar-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.btn-criptografar,
.btn-descriptografar,
.btn-copiar {
    width: 50%;
    height: 68px;
    color: var(--black-color);
    background-color: var(--white-color);
    box-shadow: 1px 3px var(--gray-color);

    padding: 24px;
    gap: 8px;
    border-radius: 10px;

    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;

    border: none;

    transition: transform 200ms linear;
}

.btn-criptografar:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 1px 3px var(--red-color);
}

.btn-descriptografar:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 1px 3px var(--yellow-color);
}

.inputSection-contentImg {
    width: 70%;
    transition: transform 200ms linear;
}

.inputSection-contentImg:hover {
    transform: scale(1.05);
    cursor: pointer;
}


.outputSection {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outputSection-content {
    background: rgba(255, 255, 255, 0.33);
    box-shadow: 0px 26px 33px -9px #00000033;
    width: 450px;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 33px;
    gap: 10%;
    border-radius: 25px;
}

.outputSection-contentImg1 {
    display: flex;
    width: 100%;
    padding: 0 32px 0 32px;
}

.outputSection-contentImg2 {
    display: none;
    width: 95%;
    padding: 0 32px 0 32px;
}

.outputSection-contentInfo {
    width: 100%;

    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;

}

.outputSection-contentInfo h2 {
    font-weight: var(--black-color);
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    color: var(--black-color);
}

.outputSection-contentInfo p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: var(--black-color);
}

.outputSection-contentResultOutput {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.text-output {
    width: 95%;
    height: 85%;
    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
    color: var(--gray-color);
    border: none;
    background-color: transparent;
    outline: none;
    resize: none;
}

.btn-copiar:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 1px 3px var(--red-color);
}

@media (max-width: 1024px) {
    .inputSection {
        flex-direction: column;
    }

    .inputSection-header {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 10%;
        border-right: none;
        border-bottom: 3px solid var(--black-color);
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 5% 0 5%;
        gap: 16px;

        background-color: transparent;
    }

    .inputSection-header h1 {
        writing-mode: horizontal-tb;
        text-orientation: mixed;
        padding: 0;
        margin: 0;

        width: 80%;
        font-size: 2.5rem;

    }

    .inputSection-headerLinks {
        padding: 0;
        margin: 0;
        width: 20%;
    }

    .inputSection-contentImg {
        display: none;
    }
}

@media (max-width: 768px) {

    body {
        width: 100vw;
        height: 100vh;
    }

    main {
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5%;

    }

    .inputSection {
        width: 100%;
        height: 70%;

    }

    .inputSection-header {
        width: 100%;
        height: 10%;
        align-items: center;
        justify-content: space-between;
    }

    .inputSection-header h1 {
        font-size: 2rem;
    }

    .inputSection-content {
        padding: 0%;
        margin-top: 5%;
        justify-content: space-between;

    }

    .text-input {
        font-size: 1.5rem;
    }

    .text-input::placeholder {
        font-size: 1.5rem;
    }

    .btn-criptografar,
    .btn-descriptografar {
        width: 100%;
    }

    .outputSection {
        width: 100%;
        height: 40%;
    }

    .outputSection-content {
        width: 100%;
        margin: 0 5% 5% 5%;
        justify-content: center;
        align-items: center;
        gap: 5%;
        flex-direction: column;
    }

    .outputSection-contentImg1 {
        padding: 0%;
        display: flex;
        width: 50%;
    }

    .outputSection-contentImg2 {
        padding: 0%;
        display: none;
        width: 30%;
    }

    .outputSection-contentInfo {
        width: 65%;
    }

    .outputSection-contentInfo h1 {
        font-size: 1rem;
    }

    .outputSection-contentInfo p {
        font-size: 0.7rem;
    }
}

@media (max-width: 375px) {

    main {
        align-items: center;
        justify-content: center;
    }

    .inputSection {
        width: 100%;
    }

    .inputSection-content {
        padding: 0%;
        justify-content: center;
    }

    .inputSection-contentActionBar-buttons {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .btn-criptografar,
    .btn-descriptografar {
        width: 100%;
    }

    .inputSection-header {
        display: none;
    }

    .text-input {
        font-size: 1.5rem;
    }

    .text-input::placeholder {
        font-size: 1.5rem;
    }

    .text-output {
        font-size: 1.5rem;
    }
}