/* Estilos de tipografia */
h1, h2, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: var(--black-color);
}

h2 {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    line-height: 1.8rem;
    text-align: center;
    color: var(--black-color);
}

p {
    font-size: 1rem;
    font-weight: var(--font-weight-normal);
    line-height: 1.5rem;
    text-align: center;
    color: var(--black-color);
}
